{% extends "base.html" %}
{% load static %}

{% block title %}关键因子单调性{% endblock %}

{% block extrahead %}
{% endblock %}


{% block content %}
    <div class="row justify-content-center" style="margin-top: 3em">
        <div class="col col-lg-1">
        </div>
        <div class="col-md-auto">
            <h2>关键因子单调性</h2>
            {% include "layer_bt/inc_net_value_all.html" %}
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}