{% extends "base.html" %}
{% load static %}

{% block title %} ICS {% endblock %}

{% block extrahead %}
{% endblock %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col col-lg-1">
        </div>
        <div class="col-md-auto">
            <h2>ICS ({{ the_date }})</h2>
            {% include 'mult_factor/factors_pool/inc_ics_all_box.html' %}
        </div>
        <div class="col col-lg-2">
        </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 3em">
        <div class="col col-lg-1">
        </div>
        <div class="col-md-auto">
            {% include 'mult_factor/factors_pool/inc_ics_sub.html' %}
        </div>
        <div class="col col-lg-2">
        </div>
    </div>


{% endblock %}

{% block footer %}
{% endblock %}