{% extends "base.html" %}
{% load static %}

{% block title %} 各策略 | VaR & ES 对比 {% endblock %}

{% block extrahead %}
{% endblock %}


{% block content %}

    <div class="row justify-content-center">
        <div class="col col-lg-1">
        </div>
        <div class="col-md-auto">
            <h2>各策略 VaR & ES 对比</h2>
            {% include 'mult_factor/alpha_one/inc_VaR_ES.html' %}
            {% include 'mult_factor/per_2/inc_VaR_ES.html' %}
            {% include 'mult_factor/per_2_4/inc_VaR_ES.html' %}
        </div>
        <div class="col col-lg-2">
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}